{% extends "network/layout2.html" %}

{% block title %}
    Sign Up | Network
{% endblock %}

{% block body %}

    <h2 style="color: #7b1e1e;">Sign Up</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile"><span style="color: #7b1e1e;">Choose file</span></label>
        </div>
        <input class="btn btn-primary" type="submit" value="Register" style="background-color: #7b1e1e; border: none;">
    </form>

    Already have an account? <a href="{% url 'login' %}" style="color: #7b1e1e;">Log In here.</a>

{% endblock %}
